<div class="flex wrap notes-tab">
    <div class="information border">
        <h1>{{localize "TITLE.BIO"}}</h1>
        <div class="information-row">
            <div class="gender wrapper">
                <label>{{localize "BIO.GENDER"}}</label>
                <input name="system.bio.gender" type="text" value="{{system.bio.gender}}" />
            </div>
            <div class="age wrapper margin">
                <label>{{localize "BIO.AGE"}}</label>
                <input name="system.bio.age" type="text" value="{{system.bio.age}}" />
            </div>
            <div class="build wrapper margin">
                <label>{{localize "BIO.BUILD"}}</label>
                <input name="system.bio.build" type="text" value="{{system.bio.build}}" />
            </div>
            <div class="complexion wrapper margin">
                <label>{{localize "BIO.COMPLEXION"}}</label>
                <input name="system.bio.complexion" type="text" value="{{system.bio.complexion}}" />
            </div>
            <div class="hair wrapper margin" style="margin-left: 16px; width: 15%">
                <label>{{localize "BIO.HAIR"}}</label>
                <input name="system.bio.hair" type="text" value="{{system.bio.hair}}" />
            </div>
        </div>
        <div class="information-row full">
            <div class="divination wrapper full" style="max-width: 90%">
                <label>{{localize "BIO.DIVINATION"}}</label>
                <input name="system.bio.divination" type="text" value="{{system.bio.divination}}" />
            </div>
        </div>
        <div class="information-row full">
            <div class="quirks wrapper full"style="max-width: 90%">
                <label>{{localize "BIO.QUIRKS"}}</label>
                <input name="system.bio.quirks" type="text" value="{{system.bio.quirks}}" />
            </div>
        </div>
        <div class="information-row full">
            <div class="superstition wrapper full"style="max-width: 90%">
                <label>{{localize "BIO.SUPERSTITION"}}</label>
                <input name="system.bio.superstition" type="text" value="{{system.bio.superstition}}" />
            </div>
        </div>
        <div class="information-row full">
            <div class="momentos wrapper full"style="max-width: 90%">
                <label>{{localize "BIO.MOMENTOS"}}</label>
                <input name="system.bio.momentos" type="text" value="{{system.bio.momentos}}" />
            </div>
        </div>
    </div>
    <div class="notes-editor border">
        <h1>{{localize "TITLE.NOTES"}}</h1>
        <div style="height: 442px; width: 100%">
            {{editor enrichment.system.bio.notes target="system.bio.notes" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
    </div>
    <div class="comrades-editor border">
        <h1>{{localize "TITLE.COMRADES"}}</h1>
         <div class="age wrapper margin">
                <label>{{localize "NAME"}}</label>
                <input name="system.comrade.name1" type="text" value="{{system.comrade.name1}}" />
            </div>
            <div class="build wrapper margin">
                <label>{{localize "STATUS"}}</label>
                <input name="system.comrade.status1" type="text" value="{{system.comrade.status1}}" />
            </div>
            <div class="complexion wrapper margin">
                <label>{{localize "SPECIAL ABILITIES"}}</label>
                <input style="height: 200px;" name="system.comrade.special_ability1" type="text" value="{{system.comrade.special_ability1}}" />
            </div>
    </div>
    <div class="comrades-editor border">
        <h1>{{localize "TITLE.COMRADES"}}</h1>
         <div class="age wrapper margin">
                <label>{{localize "NAME"}}</label>
                <input name="system.comrade.name2" type="text" value="{{system.comrade.name2}}" />
            </div>
            <div class="build wrapper margin">
                <label>{{localize "STATUS"}}</label>
                <input name="system.comrade.status2" type="text" value="{{system.comrade.status2}}" />
            </div>
            <div class="complexion wrapper margin">
                <label>{{localize "SPECIAL ABILITIES"}}</label>
                <input style="height: 200px;" name="system.comrade.special_ability2" type="text" value="{{system.comrade.special_ability2}}" />
            </div>
    </div>
    <div class="comrades-editor border">
        <h1>{{localize "TITLE.COMRADES"}}</h1>
         <div class="age wrapper margin">
                <label>{{localize "NAME"}}</label>
                <input name="system.comrade.name3" type="text" value="{{system.comrade.name3}}" />
            </div>
            <div class="build wrapper margin">
                <label>{{localize "STATUS"}}</label>
                <input name="system.comrade.status3" type="text" value="{{system.comrade.status3}}" />
            </div>
            <div class="complexion wrapper margin">
                <label>{{localize "SPECIAL ABILITIES"}}</label>
                <input style="height: 200px;" name="system.comrade.special_ability3" type="text" value="{{system.comrade.special_ability3}}" />
            </div>
    </div>
    <div class="comrades-editor border">
        <h1>{{localize "TITLE.COMRADES"}}</h1>
         <div class="age wrapper margin">
                <label>{{localize "NAME"}}</label>
                <input name="system.comrade.name4" type="text" value="{{system.comrade.name4}}" />
            </div>
            <div class="build wrapper margin">
                <label>{{localize "STATUS"}}</label>
                <input name="system.comrade.status4" type="text" value="{{system.comrade.status4}}" />
            </div>
            <div class="complexion wrapper margin">
                <label>{{localize "SPECIAL ABILITIES"}}</label>
                <input style="height: 200px;" name="system.comrade.special_ability4" type="text" value="{{system.comrade.special_ability4}}" />
            </div>
    </div>
    <div class="comrades-editor border">
        <h1>{{localize "TITLE.COMRADES"}}</h1>
         <div class="age wrapper margin">
                <label>{{localize "NAME"}}</label>
                <input name="system.comrade.name5" type="text" value="{{system.comrade.name5}}" />
            </div>
            <div class="build wrapper margin">
                <label>{{localize "STATUS"}}</label>
                <input name="system.comrade.status5" type="text" value="{{system.comrade.status5}}" />
            </div>
            <div class="complexion wrapper margin">
                <label>{{localize "SPECIAL ABILITIES"}}</label>
                <input style="height: 190px;" name="system.comrade.special_ability5" type="text" value="{{system.comrade.special_ability5}}" />
            </div>
    </div>
</div>
